<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LLM Conversation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  </head>

  <body class="bg-gray-100 h-screen flex">
    <div class="w-96 flex justify-center items-center">
      <div
        style="display: none"
        id="conversationlist"
        class="h-full w-full p-5"
      ></div>

      <button
        id="google-login"
        class="px-4 py-2 rounded-lg bg-blue-500 text-white"
      >
        Login to save chat history
      </button>
    </div>

    <div
      class="h-full overflow-hidden w-full mx-auto p-4 flex flex-col flex-grow border rounded-lg bg-white"
    >
      <!-- Chat Header -->
      <div class="border-b pb-2 mb-4 flex justify-between">
        <h1 class="text-xl font-semibold">LLM Messaging</h1>
        <div class="user-profile"></div>
      </div>

      <!-- Chat Messages -->
      <div class="flex-grow flex overflow-y-auto mb-4">
        <div
          id="chat-messages"
          class="space-y-4 flex-1 overflow-auto flex flex-col-reverse"
        >
          <!-- Single Chat Message Example -->

          <div class="flex items-start">
            <div
              id="start-chat"
              class="text-sm bg-gray-300 rounded-lg px-4 py-2 max-w-xs shadow"
            >
              Hello! How can I help you today?
            </div>
          </div>
        </div>
      </div>

      <!-- Chat Input -->
      <div class="border-t pt-2">
        <form id="chat-form" class="flex space-x-2">
          <input
            type="text"
            id="chat-input"
            class="flex-grow border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Type a message..."
          />
          <button
            type="submit"
            class="bg-blue-500 text-white rounded-lg px-4 py-2"
          >
            Send
          </button>
        </form>
      </div>
    </div>
    <script>
      //login with google using supabase
      const supabaseClient = supabase.createClient(
        "<%= SUPABASE_URL %>",
        "<%= SUPABASE_KEY %>"
      );

      const loginBtn = document.getElementById("google-login");
      loginBtn.addEventListener("click", async () => {
        await supabaseClient.auth.signInWithOAuth({
          provider: "google",
          options: {
            redirectTo: "http://localhost:3000/auth/callback",
          },
        });
      });

      async function getUserStatus() {
        try {
          const {
            data: { session },
          } = await supabaseClient.auth.getSession();
          console.log("Session:", session);
          if (session && session.access_token && session.user) {
            //appending access_token to docuemnt so that another js file can accessit, bad approach need to revise this idea
            const tokenelement = document.createElement("div");
            tokenelement.textContent = session?.access_token;
            tokenelement.style.display = "none";
            tokenelement.id = "token_element";
            document.body.appendChild(tokenelement);
            return session;
          } else {
            throw new Error("No active session");
          }
        } catch (error) {
          console.error("Error checking login status:", error);
          return false;
        }
      }

      const loadConversationList = async (token) => {
        const conversation = await fetch("http://localhost:3000/conversation", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            authorization: `Bearer ${token}`,
          },
        });

        return await conversation.json();
      };

      const loadConversationListAndAppend = async (response) => {
        const isUserAuthenticated = response?.access_token;
        if (isUserAuthenticated) {
          const conversationContainer =
            document.getElementById("conversationlist");
          document.getElementById("google-login").style.display = "none";
          conversationContainer.style.display = "block";
          conversationContainer.classList.add("space-y-2");
          const conversations = await loadConversationList(isUserAuthenticated);
          conversations.forEach((element) => {
            conversationContainer.appendChild(
              conversationElement(element?.title)
            );
          });
        }
      };

      const conversationElement = (title) => {
        const conversationDiv = document.createElement("div");
        conversationDiv.classList.add(
          "border",
          "border-blue-400",
          "bg-blue-300",
          "p-2",
          "rounded-md"
        );
        conversationDiv.textContent = title;
        return conversationDiv;
      };

      getUserStatus().then((response) =>
        loadConversationListAndAppend(response)
      );

      getUserStatus().then(async (response) => {
        if (!response?.user) return;
        //add user name to the chat
        const startchat = document.getElementById("start-chat");
        startchat.innerHTML = `Hi ${response.user.user_metadata.full_name}! How can I help you today?`;

        //access user metadata
        const userprofile = document.querySelector(".user-profile");
        userprofile.classList.add("flex", "items-center", "gap-2");
        userprofile.innerHTML = `<img src="${response.user.user_metadata.avatar_url}" class="w-8 h-8 rounded-full" alt="User Profile" />`;

        //add logout button
        const logoutBtn = document.createElement("button");
        logoutBtn.innerHTML = "Logout";
        logoutBtn.classList.add(
          "bg-red-500",
          "text-white",
          "rounded-lg",
          "px-4",
          "py-2"
        );
        logoutBtn.addEventListener("click", async () => {
          await supabaseClient.auth.signOut();
          window.location.reload();
        });
        userprofile.appendChild(logoutBtn);
      });
    </script>
    <script src="js/script.js"></script>
  </body>
</html>
